In [24]:
import pandas as pd
import ast

# import dataset for businesses
businesses = pd.read_csv('csv_data/yelp_academic_dataset_business.csv')

# create a column for the price range
businesses.dropna(subset=['attributes'])
businesses = businesses[businesses['attributes'].str.contains('RestaurantsPriceRange2', na=False)]
businesses = businesses[businesses['categories'].str.contains('Restaurants', na=False)]
businesses['price'] = businesses['attributes'].apply(lambda x: ast.literal_eval(x).get('RestaurantsPriceRange2'))
businesses.dropna(subset=['price'])

# check results
businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,price
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",1
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",1
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,1
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",1
12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",1
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",2
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1
150340,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",2

In [30]:
businesses.groupby('state').count()

,business_id,name,address,city,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,price
state,,,,,,,,,,,,,,
AB,1914,1914,1908,1914,1912,1914,1914,1914,1914,1914,1914,1914,1626,1914
AZ,2344,2344,2318,2344,2343,2344,2344,2344,2344,2344,2344,2344,2016,2344
CA,1040,1040,1032,1040,1040,1040,1040,1040,1040,1040,1040,1040,882,1040
CO,1,1,1,1,1,1,1,1,1,1,1,1,0,1
DE,814,814,813,814,814,814,814,814,814,814,814,814,683,814
FL,7224,7224,7172,7224,7221,7224,7224,7224,7224,7224,7224,7224,6445,7224
ID,1115,1115,1103,1115,1115,1115,1115,1115,1115,1115,1115,1115,973,1115
IL,849,849,849,849,849,849,849,849,849,849,849,849,710,849
IN,3605,3605,3585,3605,3603,3605,3605,3605,3605,3605,3605,3605,3151,3605
LA,3147,3147,3115,3147,3146,3147,3147,3147,3147,3147,3147,3147,2736,3147
MO,3766,3766,3741,3766,3762,3766,3766,3766,3766,3766,3766,3766,3387,3766
NC,1,1,1,1,1,1,1,1,1,1,1,1,1,1
NJ,2820,2820,2816,2820,2820,2820,2820,2820,2820,2820,2820,2820,2392,2820
NV,1515,1515,1493,1515,1513,1515,1515,1515,1515,1515,1515,1515,1307,1515
PA,10746,10746,10713,10746,10745,10746,10746,10746,10746,10746,10746,10746,9114,10746
TN,3598,3598,3569,3598,3596,3598,3598,3598,3598,3598,3598,3598,3141,3598
XMS,1,1,1,1,1,1,1,1,1,1,1,1,0,1